
<ion-content class="corpo-gradiente">
    <ion-img class=" imagen" src="assets/logo5.png"></ion-img>
<ion-label color="new"><h1 >Seja bem vindo</h1></ion-label>

    <ion-item class="botao">
        <ion-label position="floating">Nome</ion-label>
          <ion-input></ion-input>
      </ion-item><br>

      <ion-item class="botao">
        <ion-label position="floating">Telefone</ion-label>
          <ion-input></ion-input>
      </ion-item><br>

      <ion-item class="botao">
          <ion-label position="floating">CNH</ion-label>
            <ion-input></ion-input>
        </ion-item><br>
  
        <ion-item class="botao">
          <ion-label position="floating">Senha</ion-label>
            <ion-input></ion-input>
        </ion-item><br>
        <ion-item class="botao">
            <ion-label position="floating">Confirmar Senha</ion-label>
              <ion-input></ion-input>
          </ion-item><br>
       
       <ion-button href="home" class=" botao" color="new">Cadastrar</ion-button><br><br>


       
   
   </ion-content>


     <!-- <ion-checkbox class="checked-position" color="new"></ion-checkbox>

          <ion-button href="home" class="entrar" color="new">Entrar</ion-button>
       -->