<ion-content class="corpo-gradiente">
  <ion-img class=" imagen" src="assets/logo5.png"></ion-img>
<ion-label color="new"><h1 >Seja bem vindo</h1></ion-label>

  <ion-item class="botao">
      <ion-label position="floating">Nome</ion-label>
        <ion-input></ion-input>
    </ion-item><br>

      <ion-item class="botao">
        <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
      </ion-item><br>

     
     <ion-button href="home" class=" botao" color="new">entrar</ion-button><br><br>


     
 
 </ion-content>
