/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";











.corpo-gradiente {
   --background: linear-gradient(135deg,
     rgb(#1D1F20),
     rgb(#1D1F20),
     rgb(#1D1F20),
     rgb(136, 20, 165),
     rgb(0, 5, 7)) !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.botao{
   position: absolute;
   left: 50%;
   top: 50%;
}

.botao{
    position: absolute;
    left: 50%;
    top: 60%;
 }
 .checked-position{
    position: absolute;
    left: 50%;
    top: 60%;
 }
.ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
}
.propaganda{
    position: absolute
}

.rodape{
    height: 200px;
    width: 370px;
}

.container-login {
    background: linear-gradient(135deg,
    rgb(240, 10, 240),
    rgb(131, 19, 121),
    rgb(240, 10, 240));
    background-repeat: no-repeat;
    position: relative;
    top: 0.1%;
    margin: auto;
    width: 310px;
    height: 240px;
    border-radius:1.00em;
    box-shadow: 0 3px 10px 2 rgba(163, 16, 192, 0.678);
    text-align: center;
}

.imagen{
    height: 200px;
    width: 370px;
}


.botao{
    position: relative;
    width: 300px;
    height: 50px;
    left: 2%;
    border-radius:1.00em;

 }