@import url('https://fonts.googleapis.com/css?family=Raleway');


.corpo-gradiente {
    //background-color: #1D1F20;

  --background: linear-gradient(135deg,
    rgb(0, 6, 8),
    rgb(28, 2, 34),
    rgb(48, 5, 37),
    rgb(28, 2, 34),
    rgb(0, 6, 8)) !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.icon{
    width: 120px;
    height: 50px;
}
.item{
    background: linear-gradient(135deg,
    rgb(0, 6, 8),
    rgb(28, 2, 34),
    rgb(48, 5, 37),
    rgb(28, 2, 34),
    rgb(0, 6, 8));
    border-radius:1.00em;
}
.botao{
    position: relative;
    width: 285px;
    height: 50px;
    left: 2%;
    border-radius:3.00em;

 }
 .checked-position{
    position: absolute;
    left: 50%;
    top: 60%;
 }
.ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
}
.propaganda{
    position: absolute
}

.rodape{
    height: 150px;
    width: 370px;
}

.container-login {
    background: linear-gradient(135deg,
    rgb(240, 10, 240),
    rgb(131, 19, 121),
    rgb(240, 10, 240));
    background-repeat: no-repeat;
    position: relative;
    top: 2%;
    margin: auto;
    width: 310px;
    height: 240px;
    border-radius:3.00em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.password {
    border: 1px solid #373b3d;
}
/*.caixa {
    background-color: rgba(243, 7, 164, 0.349);
    border-radius:3.00em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}*/
