@import url('https://fonts.googleapis.com/css?family=Raleway');


.corpo-gradiente {
    background-color: #1D1F20;

  // --background: linear-gradient(135deg,
   // rgb(0, 6, 8),
   // rgb(136, 20, 165),
   // rgb(197, 78, 167),
   // rgb(136, 20, 165),
  //  rgb(0, 5, 7)) !important;
  //  background-repeat: no-repeat;
  //  width: 100%;
  //  height: 100vh;
}

.botao{
   position: absolute;
   left: 50%;
   top: 50%;
}

.botao{
    position: absolute;
    left: 50%;
    top: 60%;
 }
 .checked-position{
    position: absolute;
    left: 50%;
    top: 60%;
 }
.ion-color-new {
    --ion-color-base: var(--ion-color-new);
    --ion-color-base-rgb: var(--ion-color-new-rgb);
    --ion-color-contrast: var(--ion-color-new-contrast);
    --ion-color-contrast-rgb: var(--ion-color-new-contrast-rgb);
    --ion-color-shade: var(--ion-color-new-shade);
    --ion-color-tint: var(--ion-color-new-tint);
}
.propaganda{
    position: absolute
}

.rodape{
    height: 150px;
    width: 370px;
}

.container-login {
    background-color: rgba(243, 7, 164, 0.349);
    position: relative;
    top: 2%;
    margin: auto;
    width: 310px;
    height: 200px;
    border-radius:3.00em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.password {
    border: 1px solid #373b3d;
}
/*.caixa {
    background-color: rgba(243, 7, 164, 0.349);
    border-radius:3.00em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}*/
