<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      motoclick
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="corpo-gradiente">
  <ion-img class="imagen" src="assets/logo5.png" ></ion-img>

  <div class="container-login">
    <span>Usuario</span> <br><br>

    <form>

    

      <ion-item class="botao">
          <ion-label position="floating">Nome</ion-label>
            <ion-input></ion-input>
              </ion-item><br>
      <ion-item class="botao">
            <ion-label position="floating">Telefone</ion-label>
              <ion-input></ion-input>
          </ion-item><br>
         <!-- <ion-item class="botao">
              <ion-label position="floating">Senha</ion-label>
                <ion-input></ion-input>
            </ion-item>-->
    </form>
    <!--<div class="forgot-password"><br><br>
      <a href="#">Esqueceu sua senha?</a>
    </div><br>-->
    <ion-button href="home" class="entrar" color="new">Entrar</ion-button><br><br><br><br><br>
    

  <ion-label color="light">Quer ser nosso piloto?</ion-label><br>

    <ion-button color="new" href="piloto" expand="full" fill="outline">Cadastra-se aqui!</ion-button>

    <ion-button color="new" href="login" expand="full" fill="outline">login</ion-button>

    <div class="caixa">
    </div>
  </div>

</ion-content>

<!--<ion-footer class="rodape">
  <img src="/assets/source.gif">
</ion-footer>
-->
 <!-- <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item color="brak" href="#">
              <ion-thumbnail>
                <ion-icon class="icon" name="contacts"></ion-icon>
              </ion-thumbnail>
            </ion-item><br>
            <ion-label>Pedir Moto</ion-label>

          </ion-col>
          <ion-col>
            <ion-item color="brak"  href="passageiro">
              <ion-thumbnail>
              </ion-thumbnail>
            </ion-item><br>
            <ion-label>Cadastra-se</ion-label>

          </ion-col>
        </ion-row>
      </ion-grid>-->