<ion-header>
 <!-- <ion-toolbar>
    <ion-title>
      motoclick
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="corpo-gradiente">
  <ion-img src="assets/logo5.png" ></ion-img>

<!--<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item color="new" href=" ">
        <ion-thumbnail>
          <ion-label>Sou Cliente</ion-label>
        </ion-thumbnail>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item color="new">
        <ion-thumbnail>
          <ion-label>Sou Cliente</ion-label>
        </ion-thumbnail>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>  -->



<div class="container-login">
  <div id="title">
    <i class="material-icons lock">lock</i> Login
  </div>

  <form>
    <div class="input">
      <3div class="input-addon">
        <i class="material-icons">face</i>

      </div>
      <input id="username" placeholder="Nome" type="Nome" required class="validate" autocomplete="off">
      </div>

      <div class="clearfix"></div>

      <div class="input">
          <div class="input-addon">
              <i class="material-icons">vpn_key</i>
          </div>
              <input name="key"  id="password" placeholder="Senha" type="Senha" required class="validate" autocomplete="off">
      </div>

      <div class="remember-me">
          <input type="checkbox">
          <span style="color: rgb(12, 12, 12);">Lembre-me</span>
      </div>

      <input type="submit" value="Log In" />
  </form>
  
<br><br><br><br>

      <div class="forgot-password">
        <a href="#">Esqueceu sua senha?</a>
      </div>
<br><br><br>
        Ainda não é Cadastrado?<br>

  <ion-button color="new" href="#" expand="full" fill="outline">Cadastra-se aqui!</ion-button>

  <div class="caixa">
  </div>
</div>

</ion-content>

<!--<ion-footer class="rodape">
  <img src="/assets/source.gif">
</ion-footer> -->



