<ion-header>
 <!-- <ion-toolbar>
    <ion-title>
      motoclick
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="corpo-gradiente">
  <ion-img src="assets/logo5.png" ></ion-img>

<!--  -->



<div class="container-login">
  <br>
  
    <form>
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item  color="new" href=" ">
                  <ion-thumbnail >
                    <ion-icon class="icon" name="contacts"></ion-icon>
                  </ion-thumbnail>
                </ion-item><br>
                <ion-label>Pedir Moto</ion-label>

              </ion-col>
              <ion-col>
                <ion-item color="new">
                  <ion-thumbnail>
                  </ion-thumbnail>
                </ion-item><br>
                <ion-label>Cadastra-se</ion-label>

              </ion-col>
            </ion-row>
          </ion-grid>
        </form><br><br><br><br><br><br>

      <div class="forgot-password">
        <a href="#">Esqueceu sua senha?</a>
      </div><br>

        <ion-label color="light">Ainda não é Cadastrado?</ion-label><br>

  <ion-button color="new" href="#" expand="full" fill="outline">Cadastra-se aqui!</ion-button>

  <div class="caixa">
  </div>
</div>

</ion-content>

<!--<ion-footer class="rodape">
  <img src="/assets/source.gif">
</ion-footer>

<ion-item class="botao">
        <ion-label position="floating">Nome</ion-label>
          <ion-input></ion-input>
      </ion-item><br>

      <ion-item class="botao">
        <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
      </ion-item><br>

          <input type="checkbox">
          <span style="color: rgb(12, 12, 12);">Lembre-me</span><br>
          <ion-button color="new">Entrar</ion-button>
-->



